<ul class="dropdown menu" data-dropdown-menu>
  <li>
    <a href="#">Draws</a>
    <ul class="menu vertical">
      <% @active_draws.each do |draw| %>
        <li><%= link_to "#{draw.name}", draw_path(draw) %></li>
      <% end %>
      <li><%= link_to 'Create New Draw', new_draw_path %></li>
    </ul>
  </li>
  <li>
    <a href="#">Special Groups</a>
    <ul class="menu vertical">
      <li><%= link_to 'All Special Groups', groups_path %></li>
      <li><%= link_to 'Create Special Group', new_group_path %></li>
    </ul>
  </li>
  <li>
    <a href="#">Results</a>
    <ul class="menu vertical">
      <li><%= link_to 'Results by students', students_results_path %></li>
      <li><%= link_to 'Results by suites', suites_results_path %></li>
      <li><%= link_to 'Export all student data', export_results_path %></li>
    </ul>
  </li>
  <li>
    <a href="#">Setup</a>
    <ul class="menu vertical">
      <li><%= link_to 'Users', users_path %></li>
      <li><%= link_to 'Inventory', buildings_path %></li>
    </ul>
  </li>
  <li><%= link_to 'Settings', settings_path(@current_college) %></li>
  <% if current_user.superuser? %>
    <li>
      <a href="#">Superuser</a>
      <ul class="menu vertical">
        <li><%= link_to 'All Colleges', colleges_url(host: env('APPLICATION_HOST')) %></li>
        <li><%= link_to 'Admin Dashboard', admin_users_path %></li>
        <li><%= link_to 'New College', new_college_path %></li>
      </ul>
    </li>
  <% end %>
</ul>
